
$brand-primary:         #AFEEEE;
$brand-success:         #FBCCE7;
$brand-info:            #0095B6;
$brand-warning:         #FFAC44;
$brand-danger:          #F64A8A;



$icon-font-path: "/img/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/badges";