@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.alice-box-precompile {

  border: 1px dashed #EEEEEE;
  padding: 10px;
  border-radius: 10px;

  .row {
    margin-left: 20px;
    margin-right: 20px;
  }
}